# Python Beginner Tools

In [1]:
print("Hello World!")

"Hello World!"

Hello World!

'Hello World!'

Indentation example

In [2]:
if 1>0:
    print(True)

True

In [4]:
if 1>0:
    print(True)

True

In [148]:
# are extra indentations allowed?
# try it out
if 1<0:
    print(True)
else:
    print(False)

False

Comments

In [9]:
# Notice above

print(24) # Printing total hours in a day

# these are called
# multiline comments
a = 2+5
print(a)

""" 
This is also an example of a multiline comment.
This is usually used when you have a description or a large comment to provide.
"""
print('*' * 5)

24
7
*****

Variables

In [10]:
a = 24
b = [1, 2, 3]

print(a)
print(b)

a = "Sunshine"
print(a)

a, b, c = 0, 0, 0
print(a)

24
[1, 2, 3]
Sunshine
0

In [11]:
a = 24
print(type(a))

a = "Sunshine"
print(type(a))

a, b, c = 0.0, 0.0, 0.0
print(type(a))

a = [1,2,3]
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>

In [12]:
a = 'Sunshine'
print(type(a))

a = "Sunshine"
print(type(a))

<class 'str'>
<class 'str'>

In [14]:
a = b = c = 0

In [15]:
a

0

In [16]:
vals = [1,2,3]
a, b, c = vals
print(a,b,c)

1 2 3

In [17]:
a = b = c = d = 5
print(d)
print(b)

5
5

### General Naming Rules
<ol>A variable name must start with a letter or the underscore character</ol>
<ol>A variable name cannot start with a number</ol>
<ol>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )</ol>
<ol>Variable names are case-sensitive (age, Age and AGE are three different variables)</ol>

### Printing in Python

In [18]:
print(a, b, c)

5 5 5

In [19]:
print(a * 5)
print(a + 5)
print(a ** 5)

25
10
3125

In [22]:
# what if a = "Sunshine"?
# try it

a = "Sunshine"
print(a * 5)
#print(a + 5)
#print(a ** 5)

SunshineSunshineSunshineSunshineSunshine

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [24]:
# what if you are using a mathematical operation with two different kinds of data types?
# try it


# Boolean?
print(5 + False)
print(5 * False)

5
0

In [26]:
print("a" * 5, sep = "\n")

for i in range(10):
    print("b" * 5, sep = "\t")

aaaaa
bbbbb
bbbbb
bbbbb
bbbbb
bbbbb
bbbbb
bbbbb
bbbbb
bbbbb
bbbbb

### Data Types

In [27]:
# str
a = "sun is shining"
a = 'sun'

# int
b = 24
b = -8756

# float
c = 0.1
c = -0.01
c = 76e3
print(c)
c = 23E9
print(c)
c = -9e2
print(c)
c = 9e-2
print(c)

# Sequences
d = [1, 2, 3] # list
e = (1, 2, 3) # tuple

# what is the difference between d & e?
# try it

76000.0
23000000000.0
-900.0
0.09

In [29]:
d[0] = 20
d

[20, 2, 3]

In [30]:
e[0] = 20
e

TypeError: 'tuple' object does not support item assignment

In [32]:
f = range(10,21,2) # range(start, end-1, step)

for i in f:
    print(i)

10
12
14
16
18
20

In [33]:
# Mapping
d = {'Harish': 'India', 'Tom': 'USA', 'Welma': 'Australia'}

# how do you access this data?
# try it
d['Tom']

'USA'

In [34]:
a = bool(-1)
print(a)

a = bool(0)
print(a)

a = bool(5)
print(a)

a = True
print(a)

True
False
True
True

In [35]:
a = None
print(type(a))

<class 'NoneType'>

In [39]:
# type conversion
# try it

a = "sun"

b = "2.3"

# conversion promotion
print(2.0 + 1)

print(float(b))
# conversion demotion
print(round(3.8))

3.0
2.3
4

### for loops

In [40]:
for i in range(5):
    print(i)

for prats in range(4):
    print(prats)

0
1
2
3
4
0
1
2
3

In [41]:
a, b, c = 0, 9, 1

for i in range(a,b,c):
    print(i)

"""
- i will take values from a to b-1
- If you don’t specify a, python will assume a to be 0
- If you don’t specify c, python will assume c to be 1
"""

0
1
2
3
4
5
6
7
8

'\n- i will take values from a to b-1\n- If you don’t specify a, python will assume a to be 0\n- If you don’t specify c, python will assume c to be 1\n'

In [45]:
# reverse loop?
# for i in range(10, -1, -1):
#     print(i)

# nested for loop?
# try it
for i in range(3):
    for j in range(2):
        print(i*j)

0
0
0
1
0
2

### If-else

In [47]:
if "moon" < "a":
    print("the moon is bright")

In [48]:
if 10>100:
    print("Miracle!")
else:
    print("Reality")

Reality

In [49]:
systolic = 130

if systolic <= 120:
    print("Normal")
elif systolic < 140:
    print('Slightly High')
else:
    print('High')

Slightly High

### Conditional Operators
<ol>== : Equal to</ol>
<ol>< : Less than</ol>
<ol>> : Greater than</ol>
<ol><= : Less than Equal to</ol>
<ol>>= : Greater than Equal to</ol>
<ol>!= : Not Equal to</ol>

### Additional Operators

<ol>and : both conditions or statements must be true</ol>
<ol>or : either condition could be true</ol>

In [51]:
a = 80

if a>50 and a<70:
    print('Yes')

In [52]:
if a>50 or a<70:
    print('Yes')

Yes

In [54]:
# if 14 and 14:
    # what is the output here?

if 14 and 0:
    print('Yes')

In [55]:
# if vs elif

if 10<100:
    print('TRUE')
if 10<20:
    print(True)

TRUE
True

### Strings

In [56]:
a = ''
print(a)

In [57]:
a = "hello there"
a

'hello there'

In [58]:
a = """hello
there"""
a

'hello\nthere'

In [65]:
# indexing a string

a[0]
# str[start:end+1:step]
#a[:5]
#a[2:7]
#a[::2]
a[::-1]

'ereht\nolleh'

In [61]:
a[3]

'l'

In [66]:
# as an iterable sequence

for i in 'sunshine':
    print(i)

s
u
n
s
h
i
n
e

In [74]:
a = "My name is Jim."
a.split()
# what is a?
# iterate through a
a = a.split()
a

['My', 'name', 'is', 'Jim.']

In [71]:
str.split

In [72]:
x = 'red'
x[0] = 'b'
x

TypeError: 'str' object does not support item assignment

In [77]:
if 'Jim' not in a:
    print(True)
if 'Kayla' in a:
    print(True)

True

In [78]:
len(a)

4

In [79]:
print(x.upper())
print(x)

print('AND'.lower())

print('   hey there'.strip())

print('I am new'.replace('I am', 'You are'))

RED
red
and
hey there
You are new

In [82]:
x + "hello"
x + 5

TypeError: can only concatenate str (not "int") to str

In [83]:
x = "red {}"
print(x.format(5))

x = "{} got a {} on the Math test"
print(x.format('Gia', '70'))

red 5
Gia got a 70 on the Math test

In [85]:
# esacape character

a = 'there is a \'whirl\' outside'
a

"there is a 'whirl' outside"

In [86]:
a = input("Enter a string ")
print(a)

a = input("Enter a string ")
print(type(a))

a = input("Enter a number ")
print(type(a))

a = int(input("Enter a number "))
print(type(a))

Enter a string tring
tring
Enter a string string
<class 'str'>
Enter a number 12.3
<class 'str'>
Enter a number 12
<class 'int'>

In [ ]:
str.

### Some Additional Numerical Operators

In [87]:
10%2

0

In [88]:
10//2

5

In [ ]:
10/2

In [89]:
5//2

2

In [92]:
5%2
1%2
3%2

1

### Lists

In [93]:
a = [1, 2, 3]
a = ['hello', 2.7, True, 3]
a

['hello', 2.7, True, 3]

In [94]:
a = []
a = "Jim, was my name"
a.split(sep=',')

['Jim', ' was my name']

In [96]:
a = ['hello', 2.7, True, 3]
#''.join(a)

a = ['hello', 'there']
','.join(a)

'hello,there'

In [98]:
a

['hello', 'there']

In [101]:
list((1,2,3))

list('hello')

['h', 'e', 'l', 'l', 'o']

Indexing works in a similar fashion as with strings

In [102]:
l = [1, 2, 3]
l[0]
l[0:]
l[:2]
l[::-1]

[3, 2, 1]

In [103]:
if 1 in l:
    print(True)

True

In [ ]:
l[1] = 36
l

l[1:3] = 45, 32
l

l[1:2] = 2, 2
l

In [104]:
m = [4,5,6]
l+m

[1, 2, 3, 4, 5, 6]

In [105]:
#l.insert(pos, item)

#l.append(item)

l.remove(1)

# l.pop()

# l.pop(1)

# del l[-1]

In [106]:
l

[2, 3]

In [107]:
for i in l:
    print(i)

2
3

In [108]:
# List Comprehensions

m = [i**2 for i in l]
print(m)

m = ['gift' if i**2>10 else 'lump' for i in l]
m

[4, 9]

['lump', 'lump']

In [ ]:
l.sort()

In [109]:
# l[1] = 100
# l.sort()
# l

l.sort(reverse = True)

In [110]:
l

[3, 2]

In [111]:
l1 = l
l1

[3, 2]

In [112]:
l1[1] = 24
l1, l

# this is called referencing

([3, 24], [3, 24])

In [113]:
l1 = l.copy()
l1[1] = 36
l1,l

([3, 36], [3, 24])

In [ ]:
list.

### Dictionaries

In [114]:
d = {1: 'NYC', 2: 'NJ', 3: 'PA'}
d

{1: 'NYC', 2: 'NJ', 3: 'PA'}

In [115]:
d[1]

# keys could be strings, numbers
# duplicates?

'NYC'

In [116]:
d = {0.1: 'nyc'}
d

{0.1: 'nyc'}

In [117]:
len(d)

1

In [122]:
d = {1: 'NYC', 2: 'NJ', 3: 'PA'}
d.get(1)

d.keys()
if i in d.keys():
    print(i)

d.values()
d.items()

3

dict_items([(1, 'NYC'), (2, 'NJ'), (3, 'PA')])

In [123]:
d[1] = 'California'
d

{1: 'California', 2: 'NJ', 3: 'PA'}

In [124]:
d[4] = 'VA'
d

{1: 'California', 2: 'NJ', 3: 'PA', 4: 'VA'}

In [ ]:
del d[4]
d.pop(3)

In [125]:
for i in d:
    print(i)

1
2
3
4

In [ ]:
# nested dictionaries?
# nested lists?

In [ ]:
dict.

### while loop

In [126]:
i = 0
while(i<=10):
    print('yes')
    i+=1
    
# infinite loop

# break & continue keywords

# while-else

while False:
    print(True)
else:
    print(True)

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
True

### Functions

In [127]:
def myfunc():
    print(5)

In [128]:
myfunc()

5

In [129]:
def myfunc2(a):
    return a+10

In [130]:
myfunc2(15)

25

In [131]:
# scope?
a

['hello', 'there']

In [132]:
def myfunc3(a, b=10):
    return a+b

In [133]:
myfunc3(15)
myfunc3(15,2)

17

In [134]:
def myfunc3(a=10, b):
    return a+b

SyntaxError: non-default argument follows default argument (2501509652.py, line 1)

In [135]:
def myfunc4(l):
    l[1]=2

In [136]:
l = [0, 0, 0, 0]
myfunc4(l)

In [137]:
l

[0, 2, 0, 0]

### Anonymous function

In [139]:
x = lambda i: i**3

In [140]:
x(3)

27

In [142]:
# filter takes lambda function & a list
l = [2, 3, 4, 5, 6]
l_new = list(filter(lambda x: (x%2 == 0), l))
l_new

[2, 4, 6]

In [144]:
# map takes lambda function & a list
l_new = list(map(lambda x: x+4, l))
l_new

[6, 7, 8, 9, 10]

In [145]:
# reduce takes lambda function & a list

from functools import reduce

l_new = reduce(lambda x,y: x+y, l)
l_new

20

In [ ]:
myfile = open('mer.txt', 'r')

# r- read, w- write & overwrite, a- append

# line = myfile.read()

line = myfile.readline()

# in case you want to write, myfile.write("....")

myfile.close()

In [ ]:
# Remove outliers from your data. Consider outliers to be values beyond +/- 3 stdevs of your mean